
<footer class ="footer">
  
    <!-- <div style="text-align:center">
        <fa-icon [icon]="faCoffee"></fa-icon>
    </div> -->
  <div>
    
    <ul class="footer-profiles"> 
      <li>
      <a href="https://plus.google.com/+MariannaSorrentino" target ="_blank" ><i class="fa fa-google-plus-square black"></i></a>
      </li>
      <li>
      <a href="https://facebook.com/sorrentinomarianna" target ="_blank" ><i class="fa fa-facebook-square black"></i></a>
      </li>
      <li>
      <a href="https://www.instagram.com/mariannasorrentino80" target ="_blank" ><i class="fa fa-instagram black"></i></a>
      </li>  
      <li>
      <a href="https://www.linkedin.com/in/marianna-sorrentino" target ="_blank" ><i class="fa fa-linkedin-square black"></i></a>
      </li>
      <li>
      <a href="https://github.com/MariannaSorrentino" target ="_blank" ><i class="fa fa-github-square black"></i></a>
      </li>
    </ul>     
    <p><span class="special-font-footer"> Software by Marianna Sorrentino © 2018</span></p>
  </div>
</footer>
