<div class="jumbotron jumbotron-fluid" >
  <div class="container-12 d-flex align-items-center justify-content-center">
    <div class="col-md-2 list-group d-flex align-items-center justify-content-center">
      <button type="button" class="list-group-item list-group-item-action" *ngFor="let tappaEl of viaggio.tappe" 
              #dettaglio (click)="onClick(tappaEl.id)">{{tappaEl.titolo}}
      </button>    
    </div>
    <div class="col-md-10 jumbotron">
    <div id="dettaglio" [ngSwitch]="(tappa.id === 0)">
        <div  *ngSwitchCase="false">
        <h1 class="display-4 special-font">{{tappa.titolo}}</h1>
        <p class="lead" >{{tappa.descrizione}}</p>
        <hr class="my-4" >
        <div id="galleryControls" class="carousel slide carousel-fade text-center" data-ride="carousel">
          <ol class="carousel-indicators" >
              <li data-target="#galleryControls" *ngFor="let media of tappa.album; let i = index" data-slide-to="i" [ngClass]="{'active': media.id ===1}"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item text-center" [ngClass]="{'active': media.id ===1}" *ngFor="let media of tappa.album">
              <div class="view">
                <img class="img-fluid" src="{{media.url}}" alt="{{media.alt}}" *ngIf="media.tipo ==='img'">
                
                <video class="video-fluid " autoplay loop *ngIf="media.tipo ==='video'">
                  <source src="{{media.url}}" type="video/mp4" />
                </video>
                <div class="mask rgba-black-strong"></div>
              </div>
              
              <div class="carousel-caption">
                  <div class="animated fadeInDown">
                      <h3 class="h3-responsive">{{media.titolo}}</h3>
                      <p>{{media.alt}}</p>
                  </div>
              </div>  
            </div>
          </div>
          <a class="carousel-control-prev" href="#galleryControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#galleryControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div *ngSwitchCase="true">
          <h1 class="display-4">{{viaggio.titolo}}</h1>
          <p class="lead">{{viaggio.sommario}}</p>
          <hr class="my-4">
          <p  [innerHTML]="viaggio.descrizione"></p>
      </div>
    </div>
    </div>
  </div>
</div>

