
.special-font-brand{
    font-family: 'Shadows Into Light', sans-serif;  
    font-size: 2.5rem;
}

.special-font-section{
    font-family: 'Shadows Into Light', sans-serif;  
    font-size: 2.0rem;
}