<div class="jumbotron jumbotron-fluid">
  <div class="container d-flex align-items-center justify-content-center"> 
    <div class="col-md-7d-flex align-items-center justify-content-center">
      <h1 class="display-4 special-font">{{contenuto.titolo}}</h1>
      <hr class="my-4">
      <div class="card-body">
        <h5 class="card-title">{{contenuto.campi[0]}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{contenuto.campi[1]}}</h6>
          <br/>
          <a href="{{contenuto.campi[2]}}" class="card-link text-secondary">{{contenuto.campi[3]}}</a>
          <br/>
          <a href="{{contenuto.campi[4]}}" class="card-link text-secondary">{{contenuto.campi[5]}}</a>
      </div>   
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
        <img class="card-img-top" src="{{contenuto.multimedia.url}}" alt="{{contenuto.multimedia.alt}}">
    </div>
    <div class="col-md-1 d-flex align-items-center justify-content-center">
    </div>
  </div>
</div>